@import '../formatting/colors.css';


/* // ================ SCROLL BUTTON ================ // */

.scroll-btn {
  text-align: right;
  margin: 30px 10px 10px 10px;
  cursor: pointer;
}

/* // ================ TRASH BUTTON ================ // */

.trash-btn {
  cursor: pointer;
  transition: .4s;
  margin: 10px;
  max-width: 40px;
  height: auto;
  opacity: .4;
  position: absolute;
  bottom: 0;
  right: 10px;
}
.trash-btn:hover {
  opacity: 1;
}

  /* // ================ SUBMIT BUTTONS ================ // */

.btn-submit {
  cursor: pointer;
  transition: .4s;
  color: #fff;
  background: rgba(var(--indigo-rgb), 0.3);
  margin-top: 20px;
  padding: 10px 50px;
  border-color: var(--indigo);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
.btn-submit:hover {
  color: #fff;
  background-color: var(--indigo);
  border-color: var(--indigo); }
.btn-submit:focus, .btn-submit.focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(13, 226, 234, 0.5); }
.btn-submit.disabled, .btn-submit:disabled {
  color: #fff;
  background-color: var(--indigo);
  border-color: var(--indigo); }
.btn-submit:not(:disabled):not(.disabled):active, .btn-submit:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: var(--indigo);
  border-color: #0aa8ae; }
.btn-submit:not(:disabled):not(.disabled):active:focus, .btn-submit:not(:disabled):not(.disabled).active:focus{
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(13, 226, 234, 0.5); }




/* // ================ THEME BUTTONS ================ // */


.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  @media screen and (prefers-reduced-motion: reduce) {
    .btn {
      transition: none; } }
  .btn:hover, .btn:focus {
    text-decoration: none; }
  .btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 85, 11, 0.25); }
    .btn.disabled, .btn:disabled {
      opacity: 0.65;
      box-shadow: none; }

        .btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
          background-image: none;
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
          .btn:not(:disabled):not(.disabled):active:focus, .btn:not(:disabled):not(.disabled).active:focus {
            box-shadow: 0 0 0 0.2rem rgba(255, 85, 11, 0.25), inset 0 3px 5px rgba(0, 0, 0, 0.125); }

            a.btn.disabled,
            fieldset:disabled a.btn {
              pointer-events: none; }







.btn-primary {
  color: #fff;
  background-color: #080f23;
  border-color: #080f23;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
  .btn-primary:hover {
    color: #fff;
    background-color: #7952B3;
    border-color: #7952B3; }
  .btn-primary:focus, .btn-primary.focus {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(255, 85, 11, 0.5); }
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #080f23;
    border-color: #080f23; }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active{
    color: #fff;
    background-color: #7952B3;
    border-color: #7952B3; }
    .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus{
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(255, 85, 11, 0.5); }

.btn-secondary {
  color: #fff;
  background-color: #CCD8E0;
  border-color: #CCD8E0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
  .btn-secondary:hover {
    color: #fff;
    background-color: #1d1d1d;
    border-color: #171717; }
  .btn-secondary:focus, .btn-secondary.focus {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(48, 48, 48, 0.5); }
  .btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #CCD8E0;
    border-color: #CCD8E0; }
  .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active{
    color: #fff;
    background-color: #171717;
    border-color: #101010; }
    .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus{
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(48, 48, 48, 0.5); }

  .btn-check:active+.btn-secondary,
  .btn-check:checked+.btn-secondary,
  .btn-secondary.active,
  .btn-secondary:active{
    color: #fff;
    background-color: #770937;
    border-color: #CCD8E0;
  }

  .btn-time {
    color: #212529;
    min-width: 70px;
    padding: 2px 0;
    overflow: none;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
    .btn-time:hover {
      color: #212529;
      opacity: 0.6;
      border-color: #cfcfcf; }
    .btn-time:focus, .btn-time.focus {
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(232, 232, 232, 0.5); }
    .btn-time.disabled, .btn-time:disabled {
      color: #212529;
      background-color: #e8e8e8;
      border-color: #e8e8e8; }
    .btn-time:not(:disabled):not(.disabled):active, .btn-time:not(:disabled):not(.disabled).active{
      color: #212529;
      background-color: #cfcfcf;
      opacity: 0.6;
      border-color: #c8c8c8; }
      .btn-time:not(:disabled):not(.disabled):active:focus, .btn-time:not(:disabled):not(.disabled).active:focus{
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(232, 232, 232, 0.5); }


    .btn-check:active+.btn-time,
    .btn-check:checked+.btn-time,
    .btn-time.active,
    .btn-time:active{
      color: #fff;
      border-color: #fff;
    }








.btn-success {
  color: #fff;
  background-color: #1B337E;
  border-color: #1B337E;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
  .btn-success:hover {
    color: #fff;
    background-color: #013742;
    border-color: #012c35; }
  .btn-success:focus, .btn-success.focus {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(1, 86, 104, 0.5); }
  .btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #1B337E;
    border-color: #1B337E; }
  .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #012c35;
    border-color: #002229; }
    .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus{
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(1, 86, 104, 0.5); }

.btn-info {
  color: #fff;
  background-color: #BDC931;
  border-color: #BDC931;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
  .btn-info:hover {
    color: #fff;
    background-color: #0c6aa3;
    border-color: #0b6298; }
  .btn-info:focus, .btn-info.focus {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(15, 129, 199, 0.5); }
  .btn-info.disabled, .btn-info:disabled {
    color: #fff;
    background-color: #BDC931;
    border-color: #BDC931; }
  .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #0b6298;
    border-color: #0b5b8c; }
    .btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus{
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(15, 129, 199, 0.5); }


.btn-danger {
  color: #fff;
  background-color: #FF3000;
  border-color: #FF3000;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
  .btn-danger:hover {
    color: #fff;
    background-color: #ff0a2e;
    border-color: #fc0026; }
  .btn-danger:focus, .btn-danger.focus {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(255, 48, 79, 0.5); }
  .btn-danger.disabled, .btn-danger:disabled {
    color: #fff;
    background-color: #FF3000;
    border-color: #FF3000; }
  .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #fc0026;
    border-color: #ef0024; }
    .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus{
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(255, 48, 79, 0.5); }



.btn-dark {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
  .btn-dark:hover {
    color: #fff;
    background-color: black;
    border-color: black; }
  .btn-dark:focus, .btn-dark.focus {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(0, 0, 0, 0.5); }
  .btn-dark.disabled, .btn-dark:disabled {
    color: #fff;
    background-color: #000000;
    border-color: #000000; }
  .btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: black;
    border-color: black; }
    .btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus{
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(0, 0, 0, 0.5); }

.btn-outline-primary {
  color: #080f23;
  background-color: transparent;
  background-image: none;
  border-color: #080f23; }
  .btn-outline-primary:hover {
    color: #fff;
    background-color: #080f23;
    border-color: #080f23; }
  .btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 85, 11, 0.5); }
  .btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #080f23;
    background-color: transparent; }
  .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #080f23;
    border-color: #080f23; }
    .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus{
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(255, 85, 11, 0.5); }

.btn-outline-secondary {
  color: #CCD8E0;
  background-color: transparent;
  background-image: none;
  border-color: #CCD8E0; }
  .btn-outline-secondary:hover {
    color: #fff;
    background-color: #CCD8E0;
    border-color: #CCD8E0; }
  .btn-outline-secondary:focus, .btn-outline-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(48, 48, 48, 0.5); }
  .btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
    color: #CCD8E0;
    background-color: transparent; }
  .btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #CCD8E0;
    border-color: #CCD8E0; }
    .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus{
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(48, 48, 48, 0.5); }

.btn-block {
  display: block;
  width: 100%; }
  .btn-block + .btn-block {
    margin-top: 0.5rem; }

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%; }


.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle; }
  .btn-group > .btn {
    position: relative;
    flex: 0 1 auto; }
    .btn-group > .btn:hover{
      z-index: 1; }
    .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active{
      z-index: 1; }
  .btn-group .btn + .btn,
  .btn-group .btn + .btn-group,
  .btn-group .btn-group + .btn,
  .btn-group .btn-group + .btn-group{
    margin-left: -1px; }

.btn-group > .btn:first-child {
  margin-left: 0; }



